<!-- this component is not sub route of app-root ! -->
<div class="root-body">
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxFlex="0 0 500px">
      <mat-card-title>{{ 'app_title' | customtext:'app_title' | async }} - Impressum/Datenschutz</mat-card-title>

      <!-- - - - - - - - - - - - - - - - - -->
      <mat-card-content>
        <div [innerHTML]="mds.appConfig?.trusted_impressum_html"></div>
        <status-card></status-card>
        <p style="margin-bottom: 0;"><b>Angaben zu dieser Web-Anwendung:</b></p>
        <ul style="margin: 0;">
          <li *ngIf="!isProductionMode">Build-Modus: Dev</li>
          <li>Version {{appVersion}}</li>
          <li>API: Version {{mds.appConfig?.detectedApiVersion}}, {{mds.expectedApiVersion}} erforderlich</li>
          <li>Broadcasting-Service: {{mds.appConfig?.broadcastingService.status}}
            <span *ngIf="mds.appConfig?.broadcastingService.version">
      - Version {{mds.appConfig?.broadcastingService.version}},
              {{mds.appConfig?.broadcastingService.versionExpected}} erforderlich
            </span>
          </li>
          <li>Verona Player Interface: Version {{veronaApiVersionSupported}}</li>
          <li>Code Maintainer: {{appPublisher}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/']" mat-raised-button color="primary"><i class="material-icons">arrow_back</i> zurück zur Startseite</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
