<div class="spinner-container" *ngIf="dataLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="page-body">
  <div class="sheetofpaper">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step>
          <ng-template matStepLabel>Env</ng-template>
          <iqb-environment-check></iqb-environment-check>
          <div>
              <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Network</ng-template>
          <iqb-network-check></iqb-network-check>
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step *ngIf="unitcheckAvailable">
          <ng-template matStepLabel>Units</ng-template>
          <iqb-unit-check></iqb-unit-check>
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step *ngIf="questionnaireAvailable">
          <ng-template matStepLabel>Questionnaire</ng-template>
          <iqb-questionnaire></iqb-questionnaire>
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Report</ng-template>
          <iqb-report></iqb-report>
          <div>
              <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
  </div>
</div>
