.mat-mini-fab {
  margin-right: 4px
}

.mat-mini-fab[disabled] {
  background-color: grey;
}

.fullheight {
  min-height: 90%;
}

.navi_button_prev {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.navi_button_next {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.save_button {
  position: absolute;
  bottom: 10px;
  right: 70px;
}
