.check_title {
    font-size: 16pt;
    margin-bottom: 0px;
    height: 24px
  }

.check_descr {
    font-size: 9pt;
    margin-top: 8px;
    color: lightgray;
    height: 24px;
    margin-bottom: 18px;
    white-space: normal;
    line-height: 16px;
  }

.mat-card {
    margin: 10px
  }
