<div class="logo">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" matTooltip="Startseite" alt="IQB-logo"/>
  </a>
</div>
<div class="spinner-container" *ngIf="dataLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="page-body">
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxFlex="0 2 500px">
      <mat-card-title>{{ 'app_title' | customtext:'app_title':cts.updateCount }}: System-Check</mat-card-title>
      <mat-card-content>
        <p>Hier können Sie ermitteln, ob das Computersystem, das Sie gerade benutzen, für
          die hier vorgesehenen Testungen geeignet ist.</p>
        <p *ngIf="dataLoading">
          Bitte warten... Konfiguration wird geladen
        </p>
        <p *ngIf="!dataLoading && (checkConfigList.length === 0)">
          Auf diesem Server ist aktuell kein System-Check verfügbar.
        </p>
        <p *ngIf="!dataLoading && (checkConfigList.length > 1)">
          Bitte wählen Sie einen Check aus!
        </p>
        <p *ngIf="!dataLoading && (checkConfigList.length === 1)">
          Bitte klicken Sie auf den Schalter, um den Check zu starten!
        </p>
        <div fxLayout="column" fxLayoutGap="10px">
          <button mat-raised-button color="primary" (click)="buttonStartCheck(c)"
            *ngFor="let c of checkConfigList">
            <div fxLayout="column">
              <p class="check_title">{{c.label}}</p>
              <p class="check_descr">{{c.description}}</p>
            </div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="goBack()" mat-raised-button color="primary"><i class="material-icons">arrow_back</i> zurück zur Startseite</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
