<div class="page-header">
  <p>System-Check: {{title}}</p>
</div>

<div class="page-body">
  <div fxLayout="column" fxLayoutAlign="center stretch" class="cardhost">
    <div fxLayout="raw wrap" fxLayoutAlign="center stretch" fxFlex>
      <mat-card fxFlex *ngIf="!loading">
        <iqb-environment-check></iqb-environment-check>
      </mat-card>
      <mat-card fxFlex="2 0 800px" *ngIf="networkCheck">
        <iqb-network-check [measureNetwork]="networkCheck"></iqb-network-check>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch" *ngIf="unitCheck || questions">
      <mat-card [fxFlex]="(questions) ? '2 0 800px' : ''" *ngIf="unitCheck">
        <iqb-unit-check></iqb-unit-check>
      </mat-card>
      <mat-card fxFlex *ngIf="questions">
        <iqb-questionnaire></iqb-questionnaire>
      </mat-card>
    </div>
    <mat-card *ngIf="reportEnabled">
      <iqb-report [canSave]="reportEnabled"></iqb-report>
    </mat-card>
  </div>
</div>
