<div class="logo">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" matTooltip="Startseite"/>
  </a>
</div>

<div class="pagetitle">{{title}}</div>

<div class="page-body">

  <iqb-network-check [measureNetwork]="checks.network" [ngClass]="{toprow: checks.network}"></iqb-network-check>

  <div fxLayout="column" fxLayout.gt-md="row" class="cardbox" [ngClass]="{toprow: !checks.network}">

    <iqb-unit-check fxFlex="100%" [fxFlex.gt-md]="(checks.unit && checks.questions) ? '75%' : '100%'" *ngIf="checks.unit"></iqb-unit-check>

    <iqb-questionnaire fxFlex="100%" [fxFlex.gt-md]="(checks.unit && checks.questions) ? '25%' : '100%'" *ngIf="checks.questions"></iqb-questionnaire>

  </div>

  <iqb-environment-check *ngIf="checks.environment"></iqb-environment-check>

  <iqb-report [canSave]="checks.report"></iqb-report>

</div>
