<div class="spinner-container" *ngIf="dataLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="step-body" #questionnaireBody>
  <div [formGroup]="form" class="formList" fxLayout="column">
    <div *ngFor="let q of questions" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="left top" class="formEntry">
      <label>{{q.prompt}}</label>

      <mat-form-field class="field" [ngSwitch]="q.type" *ngIf="q.type !== 'header'">
        <input matInput *ngSwitchCase="'string'" [formControlName]="q.id">
        <mat-select [id]="q.id" *ngSwitchCase="'select'" [formControlName]="q.id">
          <mat-option *ngFor="let opt of q.options" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
