<div class="spinner-container" *ngIf="dataLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="step-body" #questionnaireBody>
  <div [formGroup]="form" class="formList" fxLayout="column">
    <div *ngFor="let f of formdef" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="left top" class="formEntry">
      <label>{{f.prompt}}</label>

      <mat-form-field class="field" [ngSwitch]="f.type" *ngIf="f.type !== 'header'">
        <input matInput *ngSwitchCase="'string'" [formControlName]="f.id">
        <mat-select [id]="f.id" *ngSwitchCase="'select'" [formControlName]="f.id">
          <mat-option *ngFor="let opt of f.options" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
