<form [formGroup]="reviewform">
  <p mat-dialog-title>Kommentar geben</p>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="0 0 55%">
        <p>Sie sind angemeldet als "{{data.loginname}}".</p>
        <h4>Der Kommentar wird gegeben für:</h4>
        <mat-radio-group formControlName="target" fxLayout="column" fxLayoutGap="4px">
          <p><mat-radio-button value="b" [matTooltip]="data.bookletname"></mat-radio-button>aktuelles Testheft "{{ data.bookletname }}"<br/>
          <mat-radio-button value="u" [disabled]="data.unitDbKey.length === 0" [matTooltip]="data.unitDbKey"></mat-radio-button>aktuelle Aufgabe/Seite "{{ data.unitTitle }}"</p>
        </mat-radio-group>
        <mat-divider></mat-divider>
        <h4>Bitte helfen Sie uns mit folgenden Angaben, den Kommentar zu verarbeiten:</h4>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column" fxFlex="0 0 30%">
            <p>Priorität</p>
            <mat-radio-group formControlName="priority">
              <p><mat-radio-button value="1">dringend/kritisch</mat-radio-button><br/>
              <mat-radio-button value="2">mittelfristig</mat-radio-button><br/>
              <mat-radio-button value="3">optional</mat-radio-button></p>
            </mat-radio-group>
          </div>
          <div fxLayout="column" fxFlex="0 0 30%">
            <p>Kategorie</p>
            <p><mat-checkbox formControlName="tech">Technisches</mat-checkbox><br/>
            <mat-checkbox formControlName="content">Inhaltliches</mat-checkbox><br/>
            <mat-checkbox formControlName="design">Gestaltung</mat-checkbox></p>
          </div>
          <div fxLayout="column" fxFlex="0 0 30%">
            <mat-form-field>
              <p><input matInput formControlName="sender" placeholder="Mein Name"></p>
            </mat-form-field>
            <p>Der Name hilft, wenn durch den Login-Namen eine Zuordnung nicht möglich ist.</p>
          </div>
        </div>
      </div>
      <div fxFlex="0 0 45%" fxLayout="column">
        <mat-form-field fxFlex>
          <textarea matInput fxFlex formControlName="entry"
                    placeholder="Kommentar"
                    style="resize: none;border: grey solid 1px"
                    rows="28"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="reviewform.value" [disabled]="reviewform.invalid">Speichern</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>
</form>
