<div class="mat-body">
  <div *ngIf="status == 1" class="upload-progress">
    <mat-progress-bar class="example-margin" [value]="progressPercentage"></mat-progress-bar><br/>
    <span class="file-info">{{progressPercentage}}%</span><br/>
    <mat-icon class="action" (click)="remove()">cancel</mat-icon>
  </div>

  <ng-container *ngIf="status > 1">
    <ng-container *ngFor="let uploadedFile of uploadResponse | keyvalue">
      <div class="subheading-2 {{uploadedFile.value.error ? 'error' : 'success'}}">{{uploadedFile.key || file.name}}</div>
      <alert
          level="{{uploadedFile.value.error ? 'error' : 'success'}}"
          text="{{uploadedFile.value.error ? 'Abgelehnt' : 'Erfolgreich hochgeladen'}}"
      ></alert>
      <ng-container *ngFor="let report of uploadedFile.value | keyvalue">
        <alert *ngFor="let reportEntry of report.value" [level]="report.key" [text]="reportEntry"></alert>
      </ng-container>
    </ng-container>
  </ng-container>
</div>


