<div class="columnhost" fxLayout="column">
  <div class="spinner-container" *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button (click)="downloadReportsCSV()" [disabled]="!tableselectionCheckbox.hasValue()"
        matTooltip="Download Berichte als CSV für Excel" matTooltipPosition="above">
      <mat-icon>cloud_download</mat-icon>Berichte
    </button>
    <button mat-raised-button (click)="deleteReports()" [disabled]="!tableselectionCheckbox.hasValue()"
        matTooltip="Löschen Berichte für markierte System-Checks" matTooltipPosition="above">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <mat-table [dataSource]="resultDataSource" matSort>
    <ng-container matColumnDef="selectCheckbox">
      <mat-header-cell *matHeaderCellDef fxFlex="70px">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="tableselectionCheckbox.hasValue() && isAllSelected()"
                      [indeterminate]="tableselectionCheckbox.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="70px">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? tableselectionCheckbox.toggle(row) : null"
                      [checked]="tableselectionCheckbox.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="syscheckId">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="300px">System-Check Id</mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="300px">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="syscheckLabel">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center">System-Check Name</mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayoutAlign="start center"> {{element.label}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center">Anzahl Berichte</mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayoutAlign="center center">{{element.count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details-os">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center">Betriebssysteme</mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
        <div *ngFor="let d of element.details.os | keyvalue">{{d.key}}: {{d.value}}</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details-browser">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center">Browser</mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center start">
        <div *ngFor="let d of element.details.browser | keyvalue">{{d.key}}: {{d.value}}</div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
