<div class="menu-body">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <mat-card fxFlex="0 0 400px" fxLayout="column">
      <mat-card-title>{{ 'Aufgaben' | customtext:'booklet_tasklisttitle' | async }}</mat-card-title>
      <mat-card-content>
        <mat-button-toggle-group vertical style="width: 100%">
          <mat-button-toggle
            *ngFor="let u of unitMenuButtonList"
            [checked]="u.isCurrent"
            (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())"
            [disabled]="u.isDisabled"
          >
            <div [class]="u.testletMarker" [matTooltip]="u.testletLabel" fxFlex="0 0 10px">*</div>
            <mat-icon *ngIf="!tcs.isUnitContentLoaded(u.sequenceId)" matTooltip="wird geladen">
              hourglass_empty
            </mat-icon>
            {{u.label}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="terminateTest()">
          {{ 'Test beenden'  | customtext:'login_testEndButtonLabel' | async}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
