.menu-body {
  position: absolute;
  width: 100%;
}

mat-card {
  margin: 10px;
}

.mat-card-box {
  background-color: var(--tc-box-background)
}

mat-button-toggle {

}

.testlet-marker-non {
  background-color: transparent;
}

.testlet-marker-a {
  background-color: royalblue;
}

.testlet-marker-b {
  background-color: mediumorchid;
}

.testlet-label {
  text-align: center;
  margin-bottom: 4px;
  width: 100%;
}
