<div class="menu-body">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <mat-card fxFlex="0 0 400px" fxLayout="column">
      <mat-card-title>{{ 'Aufgaben' | customtext:'booklet_tasklisttitle' | async }}</mat-card-title>
      <mat-card-content>

        <ng-container *ngFor="let blockLabelOrUnitList of menu; let i = index">
          <mat-button-toggle-group
            *ngIf="isArray(blockLabelOrUnitList); else testLetLabel"
            vertical
            style="width: 100%"
          >
            <mat-button-toggle
              *ngFor="let u of blockLabelOrUnitList"
              [checked]="u.isCurrent"
              (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())"
              [disabled]="u.disabled"
            >
              <mat-icon *ngIf="!tcs.isUnitContentLoaded(u.sequenceId)" matTooltip="wird geladen">
                hourglass_empty
              </mat-icon>
              {{u.longLabel}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <ng-template #testLetLabel>
            <h4 *ngIf="blockLabelOrUnitList || i > 0" class='testlet-label'>
              {{blockLabelOrUnitList}}
            </h4>
          </ng-template>
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="terminateTest()">
          {{ 'Test beenden'  | customtext:'login_testEndButtonLabel' | async}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
