include:
  - template: Code-Quality.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml

image: docker:20.10.5

variables:
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:20.10.5-dind


stages:
  - build
  - test
  - check
  - deploy


build:
  stage: build
  script:
    - apk add make docker-compose
    - make build
    - docker save docker_testcenter-frontend-dev > frontend_image.tar
  artifacts:
    paths:
      - frontend_image.tar

test-unit:
  stage: test
  script:
    - apk add make docker-compose
    - docker load -i frontend_image.tar
    - make run-detached
    - make test-unit

test-e2e:
  stage: test
  script:
    - apk add make docker-compose
    - docker load -i frontend_image.tar
    - make run-detached
    - make test-e2e

code_quality:
  stage: check
sast:
  stage: check
.secret-analyzer:
  stage: check
dependency_scanning:
  stage: check
license_scanning:
  stage: check

deploy-docker-image:
  stage: deploy
  script:
    - docker build --target prod -t iqbberlin/testcenter-frontend:latest -f docker/Dockerfile .
    - docker save iqbberlin/testcenter-frontend:latest > frontend_latest.tar
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker push iqbberlin/testcenter-frontend:latest
  artifacts:
    paths:
      - frontend_latest.tar
    expire_in: 1 day
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy-tagged-docker-image:
  stage: deploy
  script:
    - echo "Deploying tagged image for $CI_COMMIT_TAG"
    - docker load -i frontend_latest.tar
    - docker tag iqbberlin/testcenter-frontend:latest iqbberlin/testcenter-frontend:$CI_COMMIT_TAG
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker push iqbberlin/testcenter-frontend:$CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_COMMIT_BRANCH == "master"'
