<mat-card fxFlex="0 0 400px" fxLayout="column">
  <mat-card-title>Testdurchführung überwachen</mat-card-title>
  <mat-card-content>
    <div fxLayoutGap="10px" fxLayout="column">
      <p *ngIf="monitorScopes.length === 0">
        Sie sind angemeldet. Aktuell sind keine Bereiche zur Überwachung für Sie freigegeben.
      </p>
      <button mat-raised-button color="primary" (click)="buttonGotoMonitor(ms)"
              *ngFor="let ms of monitorScopes">
        {{ms.name}}
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
  </mat-card-actions>
</mat-card>
