<div class="report-headline" *ngIf="files.length > 0">
  <div class="subheading-1">Upload-Report</div>
  <mat-icon class="close-button" *ngIf="!disableClearButton" (click)="removeAll()">cancel</mat-icon>
</div>

<iqb-files-upload
  *ngFor="let file of files; let i = index"
  [file]="file"
  [id]="i"
  [httpUrl]="httpUrl"
  [fileAlias]="fileAlias"
  [folderName]="folderName"
  [folder]="folder"
  (removeFileRequestEvent)="removeFile($event)"
  (statusChangedEvent)="analyseStatus()">
</iqb-files-upload>

<hr *ngIf="files.length > 0">
