<div class="unit-check-body" fxLayout="row" fxLayoutAlign="start stretch">
  <div id="unit-title" fxLayout="column" fxLayoutAlign="center center">
    <p>{{'Bitte prüfen Sie die folgenden Aufgaben-Elemente'| customtext:'syscheck_unitPrompt' | async}}</p>
  </div>

  <div id="iFrameHost">
  </div>

  <div id="pageNav" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="pageList.length > 1">
      <mat-button-toggle-group *ngFor="let p of pageList">
        <mat-button-toggle *ngIf="p.type === '#previous'" (click)="gotoPage(p.type)" [disabled]="p.disabled">
          <i class="material-icons">chevron_left</i>
        </mat-button-toggle>
        <mat-button-toggle *ngIf="p.type === '#next'" (click)="gotoPage(p.type)" [disabled]="p.disabled">
          <i class="material-icons">chevron_right</i>
        </mat-button-toggle>

        <mat-button-toggle
          *ngIf="p.type === '#goto'"
          (click)="gotoPage(p.type, p.index)"
          [disabled]="p.disabled"
          [checked]="currentPage === p.index"
        >
          {{ p.index }}
        </mat-button-toggle>

      </mat-button-toggle-group>
    </div>
  </div>
</div>
