<mat-card style="height: 90%" class="scrollable-content">

  <mat-card-header>
    <mat-card-title>Test-Aufgabe</mat-card-title>
    <mat-card-subtitle>Hier können Sie eine Aufgabe ausprobieren</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content style="height: 100%; xxbackground-color: rosybrown">
    <div class="spinner-container-local" *ngIf="dataLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div style="color:red" *ngIf="errorMessage">{{errorMessage}}</div>
    <div #iFrameHost iqbResizeIFrameChild style="height:99%; xxbackground-color: greenyellow"></div>
  </mat-card-content>

</mat-card>
