<div class="status-body">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="((tcs.testStatus$ | async) === tcs.testStatusEnum.RUNNING) && ((tcs.unitListForNaviButtons$ | async)?.length > 0)">
      <mat-card-title>{{ 'Aufgaben' | customtext:'booklet_tasklisttitle':cts.updateCount }}</mat-card-title>
      <mat-card-content>
        <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center stretch">
          <div *ngFor="let u of unitMenuButtonList" [class]="u.isCurrent ? 'active-unit' : 'non-active-unit'" fxLayout="column">
            <button mat-raised-button (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())">
              {{u.label}}
            </button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="foreground" (click)="tcs.terminateTest()">Test beenden</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
