.status-body {
  position: absolute;
  width: 100%;
}

mat-card {
  margin: 10px;
}

.mat-card-gray {
  background-color: var(--tc-box-background)
}

.active-unit {
  background-color: #b2ff59;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.non-active-unit {
  background-color: transparent;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testlet-marker-non {
  background-color: transparent;
}

.testlet-marker-a {
  background-color: royalblue;
}

.testlet-marker-b {
  background-color: mediumorchid;
}
.progress-bar {
  position: absolute;
  right: 150px;
  top: 300px;
  left: 150px;
  z-index: 999;
}
