.adminbackground {
  flex:  10 0 900px;
  box-shadow: 5px 10px 20px black;
  background-color: white;
  min-height: 85%;
  margin: 15px;
  padding: 25px;
}

.columnhost {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
}

.cellstyle1 {
  padding: 5px;
}

.mat-raised-button {
  margin: 5px;
  min-width: 100px;
}
