<div class="logo">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" matTooltip="Startseite" alt="IQB-Logo"/>
  </a>
</div>
<div class="page-body">
    <div class="spinner" *ngIf="dataLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" style="padding: 30px;">


    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showLoginForm">
      <!-- - - - - - - - - - - - - - - - - -->
      <form [formGroup]="testtakerloginform" (ngSubmit)="login()">
        <mat-card-title>Anmelden</mat-card-title>
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput formControlName="testname" placeholder="Anmeldename" (keyup.enter)="pw.focus()">
          </mat-form-field>
          <mat-form-field>
            <input matInput #pw type="password" formControlName="testpw" placeholder="Kennwort" (keyup.enter)="login()">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="testtakerloginform.invalid" color="primary">Weiter</button>
        </mat-card-actions>
      </form>
      <p class="error-msg">{{ (mds.globalErrorMsg$ | async)?.labelNice }}</p>

    </mat-card>

    <!-- - - - - - - - - - - - - - - - - -->
    <mat-card fxFlex="0 0 400px" *ngIf="showCodeForm">
      <form [formGroup]="codeinputform" (ngSubmit)="codeinput()">
        <mat-card-title>{{ 'login_codeInputTitle' | customtext:'login_codeInputTitle':cts.updateCount }}</mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput formControlName="code" (keyup.enter)="codeinput()"> <!-- no placeholder! -->
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="codeinputform.invalid" color="primary">Weiter</button>
          <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <!-- - - - - - - - - - - - - - - - - -->
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showBookletButtons">
      <mat-card-title>{{ bookletSelectTitle }}</mat-card-title>
      <mat-card-content>
        <div fxLayoutGap="10px" fxLayout="column">
          <p *ngIf="bookletlist.length === 0">
            Für diese Anmeldung wurde kein Test gefunden.
          </p>
          <button mat-raised-button color="primary" (click)="startBooklet(b)"
            [disabled]="!b.isEnabled" *ngFor="let b of bookletlist">
              <div class="booklet_title">{{b.label}}</div>
              <div class="booklet_status">{{b.statustxt}}</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
      </mat-card-actions>
    </mat-card>

    <!-- - - - - - - - - - - - - - - - - -->
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showTestRunningButtons && !dataLoading">
      <mat-card-title>{{ 'login_testRunningText' | customtext:'login_testRunningText':cts.updateCount }}</mat-card-title>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px">
          <button mat-raised-button color="primary" [routerLink]="['/t']">{{ 'login_testReturnButtonText' | customtext:'login_testReturnButtonText':cts.updateCount }}</button>
          <button mat-raised-button color="primary" (click)="stopBooklet()">{{ 'login_testEndButtonText' | customtext:'login_testEndButtonText':cts.updateCount }}</button>
          <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
        </div>
      </mat-card-content>
    </mat-card>

      <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showAdminSelection">
        <mat-card-title>Studie wählen</mat-card-title>
        <mat-card-content>
          <div fxLayoutGap="10px" fxLayout="column">
            <p *ngIf="(mds.loginData$ | async)?.workspaces.length === 0">
              Sie sind mit Administrator-Funktionen angemeldet. Aktuell sind keine Studien für Sie freigegeben.
            </p>
            <button mat-raised-button color="primary" (click)="buttonGotoWorkspaceAdmin(ws)"
                    *ngFor="let ws of (mds.loginData$ | async)?.workspaces">
              {{ws.name}}
            </button>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="foreground" *ngIf="(mds.loginData$ | async)?.isSuperadmin" [routerLink]="['/superadmin']">Nutzer/Arbeitsbereiche</button>
          <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
        </mat-card-actions>
      </mat-card>

      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <mat-card fxFlex="0 2 400px" fxLayout="column" class="status">
      <mat-card-title>{{ 'app_title' | customtext:'app_title':cts.updateCount }}</mat-card-title>

      <!-- - - - - - - - - - - - - - - - - -->
      <mat-card-content>
        <div *ngIf="showLoginForm">
          <p>Das <a href="http://www.iqb.hu-berlin.de" target="_blank">Institut zur Qualitätsentwicklung im Bildungswesen</a>
            {{ 'app_intro1' | customtext:'app_intro1':cts.updateCount }}</p>

          <p>Die mit diesem System erhobenen Daten enthalten grundsätzlich keinen direkten
            Personenbezug. Es werden z. B. nie Namen gespeichert. Um Auskünfte zu einer bestimmten Befragung bzw. Studie
            zu erhalten, wenden Sie sich bitte an das <a href="mailto:mechtel@iqb.hu-berlin.de">
              IQB</a>. Wir benötigen dazu den ungefähren Zeitraum und das Bundesland, in dem die Befragung bzw. Studie
              durchgeführt wurde.</p>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="!showLoginForm">
          <p>Anmeldestatus:</p>
          <ul>
            <li *ngFor="let line of loginStatusText">{{ line }}</li>
          </ul>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="showCodeForm">
          <p>{{ 'login_codeInputPrompt' | customtext:'login_codeInputPrompt':cts.updateCount }}</p>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="showBookletButtons">
          <p>{{ bookletSelectPrompt }}</p>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="showTestRunningButtons">
            <p>{{ 'login_testRunningLongText' | customtext:'login_testRunningLongText':cts.updateCount }}</p>
        </div>
        <div class="error-msg">{{ (mds.globalErrorMsg$ | async)?.labelNice }}</div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="foreground" [routerLink]="['/about']">Impressum/Datenschutz</button>
        <button mat-raised-button color="foreground" [routerLink]="['/check']">System-Check</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
