<div class="logo">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" matTooltip="Startseite"/>
  </a>
</div>
<div class="page-body">
    <div class="spinner-container" *ngIf="dataLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" style="padding: 30px;">


    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showLoginForm">
      <!-- - - - - - - - - - - - - - - - - -->
      <form [formGroup]="testtakerloginform" (ngSubmit)="testtakerlogin()">
        <mat-card-title>Anmelden</mat-card-title>
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput formControlName="testname" placeholder="Anmeldename" (keyup.enter)="pw.focus()">
          </mat-form-field>
          <mat-form-field>
            <input matInput #pw type="password" formControlName="testpw" placeholder="Kennwort" (keyup.enter)="testtakerlogin()">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="testtakerloginform.invalid" color="primary">Weiter</button>
        </mat-card-actions>
      </form>
      <p class="error-msg">{{ (mds.globalErrorMsg$ | async)?.labelNice }}</p>

    </mat-card>

    <!-- - - - - - - - - - - - - - - - - -->
    <mat-card fxFlex="0 0 400px" *ngIf="showCodeForm">
      <form [formGroup]="codeinputform" (ngSubmit)="codeinput()">
        <mat-card-title>{{ showCodeForm | customText:'login_codeInputTitle' }}</mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput formControlName="code" placeholder="Personen-Code"(keyup.enter)="codeinput()">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="codeinputform.invalid" color="primary">Weiter</button>
          <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <!-- - - - - - - - - - - - - - - - - -->
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showBookletButtons">
      <mat-card-title>{{ showBookletButtons | customText:'login_bookletSelectTitle' }}</mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout="column">
          <p *ngIf="bookletlist.length === 0">
            Für diese Anmeldung wurde kein Test gefunden.
          </p>
          <button mat-raised-button color="primary" (click)="startBooklet(b)"
            [disabled]="!b.isEnabled" *ngFor="let b of bookletlist">
              <p class="booklet_title">{{b.label}}</p>
              <p class="booklet_status">{{b.statustxt}}</p>
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
      </mat-card-actions>
    </mat-card>

    <!-- - - - - - - - - - - - - - - - - -->
    <mat-card fxFlex="0 0 400px" fxLayout="column" *ngIf="showTestRunningButtons && !dataLoading">
      <mat-card-title>Ein Testheft ist gestartet</mat-card-title>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px">
          <button mat-raised-button color="primary" [routerLink]="['/t']">Zum Test zurückkehren</button>
          <button mat-raised-button color="primary" (click)="stopBooklet()">{{ showTestRunningButtons | customText:'login_testEndButtonText' }}</button>
          <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <mat-card fxFlex="0 2 400px" fxLayout="column" class="status">
      <mat-card-title>{{ mds.refreshCostumTexts | customText:'app_title' }}</mat-card-title>

      <!-- - - - - - - - - - - - - - - - - -->
      <mat-card-content>
        <div *ngIf="showLoginForm">
          <p>Das <a href="http://www.iqb.hu-berlin.de" target="_blank">Institut zur Qualitätsentwicklung im Bildungswesen</a>
            betreibt auf diesen Seiten eine Pilotanwendung für das computerbasierte Leistungstesten von
            Schülerinnen und Schülern. Der Zugang zu einem Test ist nur möglich, wenn Sie von Testverantwortlichen
            Zugangsdaten erhalten haben, die Sie bitte links eingeben. Es sind keine weiteren Seiten öffentlich verfügbar.</p>

          <p>Die mit diesem Testsystem erhobenen Daten sind vertraulich und enthalten grundsätzlich keinen direkten
            Personenbezug. Es werden z. B. nie Namen gespeichert. Um Auskünfte zu einer bestimmten Studie
            zu erhalten, wenden Sie sich bitte an das <a href="mailto:mechtel@iqb.hu-berlin.de?subject=Zum%20IQB-Testsystem">
              IQB</a>. Wir benötigen dazu den ungefähren Testzeitraum und das Bundesland, in dem die Studie
              durchgeführt wurde.</p>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="!showLoginForm">
          <p>Anmeldestatus:</p>
          <ul>
            <li *ngFor="let line of loginStatusText">{{ line }}</li>
          </ul>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="showCodeForm">
          <p>Für das Starten eines Tests ist die Eingabe eines Personen-Codes nötig.</p>
          <p>{{ showCodeForm | customText:'login_codeInputPrompt' }}</p>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="showBookletButtons">
          <p>{{ showBookletButtons | customText:'login_bookletSelectPrompt' }}</p>
        </div>

        <!-- - - - - - - - - - - - - - - - - -->
        <div *ngIf="showTestRunningButtons">
            <p>Es wird gerade ein Test ausgeführt. Bitte durch Klicken auf eine der beiden Schaltflächen
              links wählen, ob der Test fortgesetzt oder beendet werden soll!</p>
        </div>
        <div class="error-msg">{{ (mds.globalErrorMsg$ | async)?.labelNice }}</div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="foreground" [routerLink]="['/about']">Impressum/Datenschutz</button>
        <!-- if you like to activate system-check, the unit will not work anymore (navi-buttons) -->
        <!-- <button mat-raised-button color="foreground" [routerLink]="['/check']">System-Check</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
