p.booklet_title {
  font-size: 16pt;
  margin-bottom: 0px;
  height: 24px;
}

p.booklet_status {
  font-size: 8pt;
  margin-top: 0px;
  color: mediumturquoise;
  height: 24px;
  margin-bottom: 18px;
}

.mat-card {
  margin: 10px;
}
.status {
  background-color: lightgrey;
}
