.adminbackground {
  flex:  10 0 900px;
  box-shadow: 5px 10px 20px black;
  background-color: white;
  min-height: 85%;
  margin: 15px;
  padding: 25px;
}

.communication-error-message {
  color: red;
  padding: 10px 50px;
}

.columnhost {
  width: 100%;
}
