<div id="buttonsContainer" fxLayout="row" fxLayoutAlign="start center">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" matTooltip="Startseite"/>
  </a>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex>
    <div class="error-msg">{{ (mds.globalErrorMsg$ | async)?.labelNice }}</div>
    <div>IQB-Testcenter Systemverwaltung</div>
  </div>
</div>
<div class="page-body">
  <div class="adminbackground">

    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
