<div  class="spinner-container" *ngIf="!testDone">
    <mat-spinner></mat-spinner>
</div>
<div class="step-body">
  <div *ngIf="!testDone">
    <p>{{this.status}}</p>
  </div>

  <div *ngIf="testDone">
    <p [ngSwitch]="networkRating.overallRating">Ihre Verbindung zum Testserver ist
      <span *ngSwitchCase="'insufficient'" style="color: red; font-weight: bold;">unzureichend <i class="material-icons">error</i></span>
      <span *ngSwitchCase="'ok'" style="color: orange; font-weight: bold;">vorauss. ausreichend (bes. Vorsichtsmaßnahmen treffen!) <i class="material-icons">warning</i></span>
      <span *ngSwitchCase="'good'" style="color: green; font-weight: bold;">gut <i class="material-icons">check</i></span>
      &nbsp;<button mat-raised-button (click)="startCheck()">Netz erneut prüfen</button>
    </p>
  </div>


  <mat-card>
    <mat-card-title>Geschwindigkeit Download</mat-card-title>
    <mat-card-content>
      <p *ngIf="averageSpeed.downloadTest >= 0">{{ averageSpeed.downloadTest | number }} bytes pro Sekunde</p>
      <p *ngIf="averageSpeed.downloadTest < 0">bitte warten</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Geschwindigkeit Upload</mat-card-title>
    <mat-card-content>
      <p *ngIf="averageSpeed.uploadTest >= 0">{{ averageSpeed.uploadTest | number }} bytes pro Sekunde</p>
      <p *ngIf="averageSpeed.uploadTest < 0">bitte warten</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Ping</mat-card-title>
    <mat-card-content>
      <p *ngIf="averageSpeed.pingTest >= 0">{{ averageSpeed.pingTest | number }} ms</p>
      <p *ngIf="averageSpeed.pingTest < 0">bitte warten</p>
    </mat-card-content>
  </mat-card>
</div>
