<div class="spinner-container" *ngIf="!testDone">
    <mat-spinner></mat-spinner>
    <label>{{KBPSReporter | async}} KBPS</label>
    
</div>
<div >
  <div *ngIf="!testDone" style="margin: 10px">
    <p>{{this.status.message}}</p>
  </div>

  <div *ngIf="testDone" style="margin: 10px">
    <p [ngSwitch]="networkRating.overallRating">Ihre Verbindung zum Testserver ist
      <span *ngSwitchCase="'insufficient'" style="color: red; font-weight: bold;">unzureichend <i class="material-icons">error</i></span>
      <span *ngSwitchCase="'ok'" style="color: orange; font-weight: bold;">vorauss. ausreichend <i class="material-icons">warning</i></span>
      <span *ngSwitchCase="'good'" style="color: green; font-weight: bold;">gut <i class="material-icons">check</i></span>
      <span *ngSwitchCase="'unstable'" style="color: orangered; font-weight: bold;">sehr instabil <i class="material-icons">check</i></span>
      &nbsp;<button mat-raised-button (click)="startCheck()">Netz erneut prüfen</button>
    </p>
  </div>

  <mat-card>
    <mat-card-title>Geschwindigkeit Download</mat-card-title>
    <mat-card-content>
      <p *ngIf="status.avgDownloadSpeedBytesPerSecond >= 0">&#8960; {{ humanReadableBytes(status.avgDownloadSpeedBytesPerSecond, false) }}ps</p>
      <p *ngIf="status.avgDownloadSpeedBytesPerSecond < 0">Test noch nicht gestartet</p>
      <tc-speed-chart #downloadChart></tc-speed-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Geschwindigkeit Upload</mat-card-title>
    <mat-card-content>
      <p *ngIf="status.avgUploadSpeedBytesPerSecond >= 0">&#8960; {{ humanReadableBytes(status.avgUploadSpeedBytesPerSecond, false) }}ps</p>
      <p *ngIf="status.avgUploadSpeedBytesPerSecond < 0">Test noch nicht gestartet</p>
      <tc-speed-chart #uploadChart></tc-speed-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Netzwerkeigenschaften</mat-card-title>
    <mat-card-content>
      <p *ngIf="!detectedNetworkInformations.available">Ihr Browser ist veraltet, daher konnten keine weiteren Netzwerkeigenschaften ermittelt werden.</p>
      <p *ngIf="detectedNetworkInformations.available">Verbindung: {{detectedNetworkInformations.effectiveNetworkType}} {{detectedNetworkInformations.networkType}}</p>
      <p *ngIf="detectedNetworkInformations.roundTripTimeMs">Network RoundTrip: {{detectedNetworkInformations.roundTripTimeMs}} Millisekunden</p>
      <p *ngIf="detectedNetworkInformations.downlinkMegabitPerSecond">Network Downlink: {{detectedNetworkInformations.downlinkMegabitPerSecond}} mbps</p>
    </mat-card-content>
  </mat-card>

</div>
