.test-view-table {
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.adminbackground {
    flex: 10 0 900px;
    box-shadow: 5px 10px 20px black;
    background-color: white;
    min-height: 85%;
    margin: 15px;
    padding: 15px 25px 25px 25px;
}


.test-view-table-wrapper {
    overflow-x: auto;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
}

.page-header > p:last-child {
    margin-right: 15px;
}

.page-header > div {
    text-align: right;
    vertical-align: middle;
}

.page-header .fill-remaining-space {
    flex: 1 1 auto;
}

.connection-status {
    text-transform: uppercase;
    color: white;
    font-size: 80%;
    justify-content: space-between;
    width: 120px
}

.connection-status mat-icon {
    font-size: 100%;
    padding: 0;
    top: 2px;
}

.connection-status.error {
    background: red
}

.connection-status.ws-offline {
    background: orange;
}

.connection-status.ws-online {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.connection-status.polling-fetch,
.connection-status.polling-sleep {
    position: relative;
    background-image: linear-gradient(90deg, rgba(0,146,0,1) 0%, rgba(0,199,0,1) 100%, rgba(0,146,0,1) 200%);
    background-repeat: repeat-x;
    background-position: 0;
    animation-name: move-gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes move-gradient {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 120px;
    }
}

@keyframes pulse {
    0% {
        background: rgba(0,199,0,1);
    }
    50% {
        background: rgba(0,146,0,1);
    }
    100% {
        background: rgba(0,199,0,1);
    }
}

.toolbar {
    padding: 15px;
}

.toolbar .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.toolbar-section {
    margin-bottom: 1em
}

.toolbar .control {
    margin-bottom: 15px;
    display: block;
}

mat-sidenav {
    width: 350px;
}

.mat-drawer-container {
    background: none;
}

.mat-drawer {
    margin: 15px 0 0 0;
}

.settings-button {
    position: absolute;
    right: 14px;
    top: 14px;
}

.drawer-button {
    position: absolute;
    right: 40px;
    top: 14px;
}

.emph {
    color: yellow;
    font-style: italic;
    text-transform: uppercase;
}
