<div class="page-header">
  <p>IQB-Testcenter Gruppenüberwachung</p>
  <span class="fill-remaining-space"></span>
  <p>
    <mat-chip-list >
      <mat-chip class="{{(serviceConnected$ | async) ? 'live on' : 'live off'}}">
        {{(serviceConnected$ | async) ? 'live' : 'offline'}}
      </mat-chip>
    </mat-chip-list>
  </p>
</div>

<div class="page-body">
  <div class="adminbackground">

<!--    <test-view [booklet]="sampleBooklet"></test-view>-->

    <table *ngFor="let session of sessions$ | async; trackBy: trackSession">

      <tr>
        <td matTooltip="{{session.personId}}"><i class="material-icons">face</i></td>

        <td matTooltip="{{session.personId}}">{{session.personLabel}}</td>

        <td>{{session.personStatus}}</td>

        <td matTooltip="{{session.testId}}">{{session.testLabel}}</td>

        <td>
          <table>
            <tr *ngFor="let item of session.testState | keyvalue">
              <td>{{item.key}}</td><td>{{item.value}}</td>
            </tr>
          </table>
        </td>

        <td>{{session.unitName}}</td>

        <td>
          <table>
            <tr *ngFor="let item of session.unitState | keyvalue">
              <td>{{item.key}}</td><td>{{item.value}}</td>
            </tr>
          </table>
        </td>

        <td>
          <b>{{session.bookletName}}</b>
          <test-view [testStatus]="session"></test-view>
        </td>
      </tr>

    </table>

    <p>Connected Admins: {{clientCount$ | async}}</p>

    <pre>{{sessions$ | async | json}}</pre>

</div>
</div>
