table {
    width: 100%;
    padding: 2em;
}

test-view {
    display: table-row;
    vertical-align: middle;
}

.adminbackground {
    flex:  10 0 900px;
    box-shadow: 5px 10px 20px black;
    background-color: white;
    min-height: 85%;
    margin: 15px;
    padding: 25px;
}

.page-header {
    display: flex;
    flex-wrap: wrap;

}

.page-header > p:last-child {
    margin-right: 15px;
}

.page-header > div {
    text-align: right;
    vertical-align: middle;
}

.page-header .fill-remaining-space {
    flex: 1 1 auto;
}

.connection-status {
    text-transform: uppercase;
    color: white;
    font-size: 80%;
    justify-content: space-between;
}

.connection-status.error {
    background: red
}

.connection-status.ws-offline {
    background: orange;
}

.connection-status.ws-online {
    background: #00c700;
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.connection-status.polling-sleep,
.connection-status.polling-fetch {
    background: green;
}

.connection-status mat-icon {
    font-size: 100%;
    padding: 0;
    top: 1px;
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}
