<div class="debug-pane" *ngIf="debugPane" cdkDrag>
  <div><b>STATUS:</b> {{tcs.testStatus$ | async}}</div>
  <div><b>TIMER:</b> {{timerValue?.timeLeftString}}<b> {{timerValue?.testletId}} {{timerValue?.type}}</b></div>
  <div><b>MODE:</b> {{tcs.testMode.modeId}}</div>
  <div><b>FOCUS:</b> {{tcs.windowFocusState$ | async}}</div>
  <div><b>BS:</b> {{cmd.connectionStatus$ | async}}</div>
  <div><b>CONFIG:</b> <pre>{{tcs.bookletConfig | json}}</pre></div>
</div>

<div id="header" fxLayout="row" fxLayoutAlign="end center">
    <p class="timer" *ngIf="tcs.testMode.showTimeLeft || (tcs.bookletConfig.unit_show_time_left === 'ON')">
      {{ timerValue?.timeLeftString }}
    </p>

    <mat-button-toggle-group
      *ngIf="(tcs.bookletConfig.unit_navibuttons !== 'OFF') && ((tcs.testStatus$ | async) === tcs.testStatusEnum.RUNNING)"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
    >
      <mat-button-toggle
        #prevButton="matButtonToggle"
        [disabled]="tcs.currentUnitSequenceId <= 1"
        (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS); prevButton.checked = false;"
        matTooltip="Zurück"
        fxFlex="none"
      >
        <i class="material-icons">chevron_left</i>
      </mat-button-toggle>

      <span *ngIf="tcs.bookletConfig.unit_navibuttons !== 'ARROWS_ONLY'" class="nav-buttons">
        <mat-button-toggle
          *ngFor="let u of unitNavigationList; let index = index"
          fxLayoutAlign="start center"
          [checked]="u.isCurrent"
          (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())"
          [disabled]="u.disabled"
          [matTooltip]="u.longLabel + (!tcs.isUnitContentLoaded(u.sequenceId) ? ' (wird noch geladen!)' : '')"
        >
          {{ u.shortLabel }}
        </mat-button-toggle>
      </span>

      <mat-button-toggle
        #nextButton="matButtonToggle"
        [disabled]="tcs.currentUnitSequenceId >= tcs.allUnitIds.length"
        (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT); nextButton.checked = false;"
        matTooltip="Weiter"
        fxFlex="none"
      >
        <i class="material-icons">chevron_right</i>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="plus-buttons" fxFlex="none" fxLayout="row">
      <button
        mat-button
        (click)="showReviewDialog()"
        *ngIf="tcs.testMode.canReview"
        matTooltip="Kommentar senden"
        fxFlex="none"
      >
        <mat-icon>rate_review</mat-icon>
      </button>
      <button
        mat-button
        (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.MENU)"
          *ngIf="(tcs.bookletConfig.unit_menu !== 'OFF') || tcs.testMode.showUnitMenu"
          matTooltip="Zur Aufgabenliste"
        fxFlex="none"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
</div>

<div class="tc-body" fxLayout="row" fxLayoutAlign="start stretch">
    <router-outlet></router-outlet>
</div>
