.timer {
  color: lightgray;
  margin: 0 10px;
}

.tcSidenav {
  background-color: teal;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tcSidenav > p, .tcSidenav > button {
  margin: 15px 10px 0 10px;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: var(--tc-header-height);
  bottom: 0;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 444;
  color: white;;
  height: var(--tc-header-height);
  padding-left: 116px;
}

#header .plus-buttons {
  min-width: 16px;
}

.debug-pane {
  color: orange;
  position: absolute;
  background: black;
  z-index: 10000;
  padding: 2px
}

.debug-pane b {
  color: white;
  font-weight: normal;
}
