.timer {
  color: lightgray;
  margin: 0 10px;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: var(--tc-header-height);
  bottom: 0;
}

h1 {
  font-size: 1.5em;
  color: white;
  margin-right: 1em;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 444;
  color: white;;
  height: var(--tc-header-height);
  padding-left: 116px;
  pointer-events: none;
}

#header mat-button-toggle-group {
  background: white;
}

#header .nav-buttons {
  overflow-x: auto;
  display: flex;
  border-left: solid 1px rgba(0, 0, 0, 0.12);
  border-right: solid 1px rgba(0, 0, 0, 0.12);
}

#header .main-buttons,
#header .plus-buttons {
  pointer-events: auto;
}

#header .plus-buttons {
  min-width: 16px;
}

#header .plus-buttons button ~ button {
  min-width: 48px;
  padding-left: 0;
}

.debug-pane {
  color: orange;
  position: absolute;
  background: black;
  z-index: 10000;
  padding: 2px
}

.debug-pane b {
  color: white;
  font-weight: normal;
}

.sidebar {
  top: var(--tc-header-height) !important;
  min-width: 200px;
  max-width: 25%;
}

.mat-drawer-container {
  background: transparent !important;
}
