<div class="logo">
  <a [routerLink]="['/']">
    <img src="assets/IQB-LogoA.png" matTooltip="Zur Startseite" alt="IQB-logo"/>
  </a>
</div>

<div id="shield" *ngIf="showError"></div>

<mat-card *ngIf="showError" class="main-alert" (click)="closeErrorBox()">
  <mat-card-title>
    <alert *ngIf="errorData?.category === 'FATAL'" text="Fehler: {{ errorData?.label }}" level="error"></alert>
    <alert *ngIf="errorData?.category === 'PROBLEM'" text="Fehler: {{ errorData?.label }}" level="error"></alert>
    <alert *ngIf="errorData?.category === 'WARNING'" text="Warnung: {{ errorData?.label }}" level="warning"></alert>
  </mat-card-title>
  <mat-card-content>
    {{ errorData?.description }}
  </mat-card-content>
</mat-card>

<div class="spinner" *ngIf="mds.isSpinnerOn$ | async">
  <mat-spinner></mat-spinner>
</div>
<router-outlet></router-outlet>
