<!--<tc-navi-buttons></tc-navi-buttons>-->
<mat-toolbar>
  <a [routerLink]="['/']">
    <img class="logo" src="assets/IQB-LogoA.png" matTooltip="Startseite"/>
  </a>
  <span>{{ title }}</span>
  <span class="itp-fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <i class="material-icons">menu</i>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/about']">
      <mat-icon>info</mat-icon>
      <span>Programm-Info</span>
    </button>
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>Anmeldeseite</span>
    </button>
    <!--<tc-menu-buttons></tc-menu-buttons>-->
</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
