<div class="page-body">
  <div class="adminbackground">

    <p class="communication-error-message" *ngIf="!isAdmin">{{ notLoggedInMessage }}</p>

    <mat-form-field *ngIf="isAdmin" style="width:300px;">
      <mat-select placeholder="Arbeitsbereich" [formControl]="wsSelector">
        <mat-option *ngFor="let ws of myWorkspaces" [value]="ws.id">
            {{ws.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <nav mat-tab-nav-bar *ngIf="isAdmin">
      <a mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.path"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
