.step-body {
  position: absolute;
  width: auto;
  top: 70px;
  bottom: 15px;
  padding: 30px;
  margin-bottom: 20px;
  height: auto;
  background-color: white;
  border: 1px solid darkgreen;
  display: block;
  left: 15px;
  right: 15px;
}
