.columnhost {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
}

.filelist {
  flex:  10 0 400px;
}

.checkboxcell {
  overflow: visible;
  flex: 0 0 30px;
}

.namecell {
  flex: 3 3 60px;
}

.datecell {
  flex: 1 1 5px;
}

.sidebar {
  flex:  10 0 200px;
  padding-left: 2em;
}

.sidebar .buttons {
  min-height: 56px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.checkerror, .checkwarning, .checkinfo  {
  margin: 20px;
  font-size: 0.8em;
}

.report-error,
.checkerror {
  color: #821324;
}

.report-warning,
.checkwarning {
  color: goldenrod;
}

.report-info,
.checkinfo {
  color: blue;
}

.mat-raised-button {
  min-width: 100px;
  margin: 2px;
}

.file-report {
  cursor: pointer
}

.full-file-report {
  display: none;
}

.file-report:hover .full-file-report {
  display: block;
  position: absolute;
  background: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  cursor: default;
}

.full-file-report .mat-card-title,
.full-file-report .mat-card-subtitle {
  margin-left: -16px;
}

.full-file-report mat-card-content {
  max-height: 15em;
  overflow-y: auto
}
