.booklet h1 {
    margin: 0;
    font-size: 100%;
}

.units {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.units:before {
    background: #003333;
    /*width: 100%;*/
    position: absolute;
    content: " ";
    top: 45%;
    height: 10%;
    left: 3px;
    right: 3px;
}

.unit {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    margin: 2px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    text-transform: uppercase;
    color: white;
    background: #003333;
    min-width: 1em;
    text-align: center;
}

.unit.current {
    background: #b2ff59;
    color: #003333;
}

.testlet {
    display: inline-block;
    padding: 3px 4px;
    margin: 2px;
    border-radius: 20px;
    border: 2px solid #003333;
}

.featured-unit {
    background: #b2ff59;
    padding: 7px 12px;
    margin: 0 2px;
    border-radius: 16px;
    color: #003333;
}

.featured-unit.first {
    border-top-left-radius: 0;
}

.featured-unit .title {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.featured-unit .unit-badge {
    margin-left: 0.5em;
}
