:host(test-view) {
    display: table-row;
    vertical-align: middle;
}

td {
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    border-bottom: 1px solid silver;
}

:host(test-view:last-child) td {
    border-bottom: none;

}
