<td class="selected">
    <mat-checkbox
            *ngIf="testSession.data.testId >= 0"
            (change)="check($event)"
            (contextmenu)="invertSelectionTestheftWide()"
            [checked]="checked"
    >
    </mat-checkbox>
</td>

<td class="super-state" (click)="deselect($event)" (contextmenu)="deselectForce($event)">
    <div class="vertical-align-middle" *ngIf="superStateIcons[testSession.state] as iconData">
        <mat-icon class="unit-badge {{iconData?.class}}" matTooltip="{{iconData.tooltip}}">
            {{iconData.icon}}
        </mat-icon>
    </div>
</td>

<td class="group" *ngIf="displayOptions.groupColumn === 'show'" (click)="deselect($event)" (contextmenu)="deselectForce($event)">
    <div class="vertical-align-middle">{{testSession.data.groupLabel}}</div>
</td>

<td class="user" (click)="deselect($event)" (contextmenu)="deselectForce($event)">
    <div class="vertical-align-middle">
        <h1>{{testSession.data.personLabel}}</h1>
    </div>
</td>

<td class="booklet" *ngIf="displayOptions.bookletColumn === 'show'" (click)="deselect($event)" (contextmenu)="deselectForce($event)">
    <ng-container *ngIf="!testSession.booklet.error; else: noBooklet">
        <div class="vertical-align-middle">{{testSession.booklet.metadata.label}}</div>
    </ng-container>
    <ng-template #noBooklet>
        <div class="vertical-align-middle">{{testSession.data.bookletName}}</div>
    </ng-template>
</td>

<td class="block" (click)="deselect($event)" (contextmenu)="deselectForce($event)" *ngIf="displayOptions.blockColumn === 'show'">
    <div *ngIf="testSession.current as current;" class="vertical-align-middle">
        {{current.parent.label || (current.parentIndexGlobal ? blockName(current.parentIndexGlobal) : '')}}
        <mat-icon class="unit-badge"
                  *ngIf="testSession.timeLeft && (testSession.timeLeft[current.parent.id] !== undefined)"
                  matBadge="{{testSession.timeLeft[current.parent.id].toString()}}"
                  matBadgeColor="accent"
                  matTooltip="Verbleibende Zeit"
        >schedule
        </mat-icon>
    </div>
</td>

<td class="test" (click)="deselect($event)" (contextmenu)="deselectForce($event)">
    <ng-container *ngIf="!testSession.booklet['error']; else: noBookletReason">

        <div *ngIf="testSession.booklet.units as testlet"
             class="units-container"
             [class]="{
                locked: hasState(testSession.data.testState, 'status', 'locked'),
                paused: hasState(testSession.data.testState, 'CONTROLLER', 'PAUSED'),
                error: hasState(testSession.data.testState, 'CONTROLLER', 'ERROR'),
                pending: !hasState(testSession.data.testState, 'CONTROLLER')
             }"
             [ngSwitch]="displayOptions.view"
             (mouseleave)="mark()"
             (click)="deselect($event)"
        >
            <div class="units full" *ngSwitchCase="'full'" >
                <ng-container *ngTemplateOutlet="testletFull; context: {$implicit: testlet}"></ng-container>
            </div>

            <div class="units medium" *ngSwitchCase="'medium'" >
                <ng-container *ngTemplateOutlet="bookletMedium; context: {$implicit: testlet}"></ng-container>
            </div>

            <div class="units small" *ngSwitchCase="'small'" >
                <ng-container *ngTemplateOutlet="bookletSmall; context: {$implicit: testlet}"></ng-container>
            </div>
        </div>
    </ng-container>

    <ng-template #noBookletReason>
        <span *ngIf="testSession.booklet.error == 'missing-id'">Kein Testheft zugeordnet</span>
        <span *ngIf="testSession.booklet.error == 'missing-file'" class="warning">Kein Zugriff auf Testheft-Datei!</span>
        <span *ngIf="testSession.booklet.error == 'xml'" class="warning">Konnte Testheft-Datei nicht lesen!</span>
        <span *ngIf="testSession.booklet.error == 'general'" class="warning">Fehler beim Zugriff aus Testheft-Datei!</span>
    </ng-template>
</td>


<ng-template #testletFull let-testlet>

    <span *ngIf="testlet.restrictions && testlet.restrictions.codeToEnter as codeToEnter"
          class="unit restriction"
          matTooltip="Freigabewort: {{codeToEnter.code.toUpperCase()}}"
          matTooltipPosition="above"
        >
        <mat-icon>{{testSession.clearedCodes && (testSession.clearedCodes.indexOf(testlet.id) > -1) ? 'lock_open' : 'lock'}}</mat-icon>
    </span>

    <ng-container *ngFor="let testletOrUnit of testlet.children; trackBy: trackUnits" [ngSwitch]="getTestletType(testletOrUnit)">

        <span *ngSwitchCase="'unit'"
              [class]="{
                unit: true,
                current: testSession.data.unitName === testletOrUnit.id,
                selected: (selected?.element?.id === testletOrUnit.id) && checked,
                marked: markedElement?.id === testletOrUnit.id
              }"
              (mouseenter)="mark(testletOrUnit)"
              (click)="select($event, testletOrUnit)"
              matTooltip="{{testletOrUnit.label}}"
              matTooltipPosition="above"
            >{{testletOrUnit.labelShort || "&nbsp;"}}
        </span>

        <span *ngSwitchCase="'testlet'"
              [class]="{
                testlet: true,
                selected: (selected?.element?.id === testletOrUnit.id) && checked,
                marked: markedElement?.id === testletOrUnit.id
              }"
              (mouseenter)="mark(testletOrUnit)"
              (click)="select($event, testletOrUnit)"
              matTooltip="{{testletOrUnit.label}}"
            >
            <ng-container *ngTemplateOutlet="testletFull; context: {$implicit: testletOrUnit}"></ng-container>
        </span>

    </ng-container>

</ng-template>


<ng-template #bookletMedium let-testlet>
    <ng-container *ngTemplateOutlet="testletTemplateMedium; context: {testlet: testlet}">
    </ng-container>
</ng-template>


<ng-template #testletTemplateMedium let-testlet="testlet">

    <ng-container *ngFor="let testletOrUnit of testlet.children; let i = index; trackBy: trackUnits" [ngSwitch]="getTestletType(testletOrUnit)">

        <span *ngSwitchCase="'unit'"
              [class]="(testSession.data.unitName === testletOrUnit.id) ? 'unit current': 'unit'"
              matTooltip="{{testletOrUnit.label}}"
              matTooltipPosition="above"
        >·
        </span>

        <span *ngSwitchCase="'testlet'" class="testlet" matTooltip="{{testletOrUnit.label}}">

            <span *ngIf="testletOrUnit.restrictions && testletOrUnit.restrictions.codeToEnter as codeToEnter"
                  class="unit restriction"
                  matTooltip="Freigabewort: {{codeToEnter.code.toUpperCase()}}"
                  matTooltipPosition="above"
            >
                <mat-icon>{{testSession.clearedCodes && (testSession.clearedCodes.indexOf(testletOrUnit.id) > -1) ? 'lock_open' : 'lock'}}</mat-icon>
            </span>

            <ng-container *ngIf="testSession.current; else: unFeaturedTestlet">
                <span
                        *ngIf="testSession.current.ancestor.id === testletOrUnit.id; else: unFeaturedTestlet"
                        [class]="{
                            unit: true,
                            aggregated: true,
                            current: true,
                            selected: (selected?.element?.id === testletOrUnit.id) && checked,
                            marked: markedElement?.id === testletOrUnit.id
                        }"
                        matTooltip="{{testSession.current.unit.label}}"
                        matTooltipPosition="above"
                        (mouseenter)="mark(testletOrUnit)"
                        (click)="select($event, testletOrUnit)"
                >{{testSession.current.indexAncestor + 1}} / {{testSession.current.unitCountAncestor}}
                </span>
            </ng-container>

            <ng-template #unFeaturedTestlet>
                <span
                        [class]="{
                            unit: true,
                            aggregated: true,
                            selected: (selected?.element?.id === testletOrUnit.id) && checked,
                            marked: markedElement?.id === testletOrUnit.id
                        }"
                        (mouseenter)="mark(testletOrUnit)"
                        (click)="select($event, testletOrUnit)"
                >{{testletOrUnit.descendantCount}}</span>
            </ng-template>
        </span>
    </ng-container>
</ng-template>


<ng-template #bookletSmall let-testlet>
    <span
            class="testlet" *ngIf="testSession.current; else: unFeaturedTestlet"
            matTooltip="{{testSession.current.parent?.label}}"
        >
        <span
                class="unit current aggregated"
                matTooltip="{{testSession.current.unit.label}}"
                matTooltipPosition="above"
            >

            {{testSession.current.indexGlobal + 1}} / {{testSession.current.unitCountGlobal}}
        </span>
    </span>

    <ng-template #unFeaturedTestlet>
        <span class="testlet" >
            <span class="unit aggregated">{{testlet.descendantCount}}</span>
        </span>
    </ng-template>
</ng-template>

<td class="current-unit" (click)="deselect($event)" (contextmenu)="deselectForce($event)" *ngIf="displayOptions.unitColumn === 'show'">
    <div *ngIf="testSession.current as current;" class="vertical-align-middle">
        <h2 matTooltip="{{current.unit.label}}">{{current.unit.labelShort || current.unit.id}}</h2>
        <mat-icon class="unit-badge"
              *ngIf="hasState(testSession.data.unitState, 'PRESENTATION_PROGRESS', 'complete')"
              matTooltip="Vollständig betrachtet / angehört"
            >remove_red_eye
        </mat-icon>
        <mat-icon class="unit-badge"
              *ngIf="hasState(testSession.data.unitState, 'RESPONSE_PROGRESS', 'complete')"
              matTooltip="Fertig beantwortet"
            >done_all
        </mat-icon>
        <mat-icon class="unit-badge"
              *ngIf="hasState(testSession.data.unitState, 'CURRENT_PAGE_NR')"
              matBadge="{{this.stateString(testSession.data.unitState, ['CURRENT_PAGE_NR', 'PAGES_COUNT'], '/')}}"
              matBadgeColor="accent"
              matTooltip="{{this.stateString(testSession.data.unitState, ['CURRENT_PAGE_ID'])}}"
            >description
        </mat-icon>
    </div>
</td>
