<!--    <pre>{{booklet$|async|json}}</pre>-->
<div *ngIf="(booklet$ | async) as booklet; else: noBooklet">

    <div class="booklet">

        <h1>{{booklet.metadata.label}}</h1>

        <div *ngIf="booklet.units as testlet" class="units">

            <ng-container *ngTemplateOutlet="testletTemplate; context: {$implicit: testlet}"></ng-container>
        </div>

<!--        <span *ngFor="let testletOrUnit of units; trackBy: trackUnits; let i = index">-->
<!--            <div class="featured-unit" *ngIf="filterUnit(testletOrUnit, testStatus.unitName) as unit" [ngClass]="{'first': i == 0}">-->
<!--                <div class="title">-->
<!--                    <div>{{unit.title || 'Ohne Titel'}}</div>-->
<!--                    <div *ngIf="hasState(testStatus.unitState, 'PRESENTATIONCOMPLETE', 'yes')" class="material-icons unit-badge">-->
<!--                        remove_red_eye-->
<!--                    </div>-->
<!--                </div>-->


<!--&lt;!&ndash;                <div class="state"><pre>{{testStatus.unitState | json}}</pre></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="state"><pre>{{testStatus.testState | json}}</pre></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="state"><pre>{{unit | json}}</pre></div>&ndash;&gt;-->
<!--            </div>-->
<!--        </span>-->

    </div>




</div>


<ng-template #testletTemplate let-testlet>

    <ng-container *ngFor="let testletOrUnit of testlet.children; trackBy: trackUnits" [ngSwitch]="getTestletType(testletOrUnit)">

        <span *ngSwitchCase="'unit'"
              class="{{(testStatus.unitName === testletOrUnit.id) ? 'unit current': 'unit'}}"
              matTooltip="{{testletOrUnit.label}}"
        >{{testletOrUnit.labelShort || "&nbsp;"}}
        </span>

        <span *ngSwitchCase="'testletOrUnit'" class="testlet">
            <ng-container *ngTemplateOutlet="testletTemplate; context: {$implicit: testletOrUnit}"></ng-container>
        </span>
        <!--                <pre>{{testletOrUnit|json}}</pre>-->
    </ng-container>
</ng-template>


<ng-template #noBooklet>
    <div class="booklet">
        <h1>Noch kein Test gestarted.</h1>
    </div>
</ng-template>
