<div *ngIf="(booklet$ | async) as booklet; else: noBooklet">


<!--    <div *ngIf="(booklet !== true) && (booklet !== false)">-->

    <div class="booklet">

        <h1>{{booklet.testlet.title}}</h1>
        <div class="testlet">

        <span *ngFor="let testlet of units; trackBy: trackUnits ">
            <span
                    *ngIf="filterUnits(testlet) as unit"
                    class="{{(testStatus.unitName === unit.id) ? 'unit current': 'unit'}}"
                    matTooltip="{{unit.title}}"
            >
                {{unit.naviButtonLabel || "&nbsp;"}}
            </span>
        </span>
            <!--            <b>{{testlet.constructor.name}}</b>-->
            <!--            <pre>{{testlet|json}}</pre>-->

        </div>

        <span *ngFor="let testlet of units; trackBy: trackUnits ">
            <div class="featured-unit" *ngIf="filterUnit(testlet, testStatus.unitName) as unit">
                <div class="title">{{unit.title}}</div>
                <div class="badges">
                    <span *ngIf="hasState(testStatus.unitState, 'PRESENTATIONCOMPLETE', 'yes')" class="material-icons">
                        remove_red_eye
                    </span>
                </div>

                <div class="state"><pre>{{testStatus.unitState | json}}</pre></div>
            </div>
        </span>

    </div>




</div>

<ng-template #noBooklet>
    Nix is.
</ng-template>
