:host(tc-test-view) {
    display: table-row;
    vertical-align: middle;
}

td {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border-bottom: 1px solid silver;
}

td:last-child {
    min-width: 100%;
}

:host(test-view:last-child) td {
    border-bottom: none;

}
