<div class="step-body">
  <mat-card>
    <mat-card-title>Betriebssystem</mat-card-title>
    <mat-card-content>
      <p>{{ osName }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Bildschirm-Auflösung</mat-card-title>
    <mat-card-content>
      <p>{{ screenSizeText }} px</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Browser</mat-card-title>
    <mat-card-content>
      <p>{{ browserVersion }}</p>
    </mat-card-content>
  </mat-card>
</div>
