<div class="navButtonsContainer" *ngIf="showNaviButtons" fxLayout="row">
  <button mat-fab [disabled]="!unitPrevEnabled" color="accent" (click)="prevUnitNaviButtonClick()">
    <i class="material-icons">chevron_left</i>
  </button>
  <div class="navPageButtonsContainer" *ngIf="showPageNaviButtons">
    <button mat-mini-fab [disabled]="!pagePrevEnabled" color="foreground" (click)="prevPageNaviButtonClick()">
      <i class="material-icons">chevron_left</i>
    </button>
    <button mat-mini-fab [disabled]="!pageNextEnabled" color="foreground" (click)="nextPageNaviButtonClick()">
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
  <button mat-fab [disabled]="!unitNextEnabled" color="accent" (click)="nextUnitNaviButtonClick()">
    <i class="material-icons">chevron_right</i>
  </button>
</div>
