<div fxLayout="column">
  <div *ngIf="loginName">
    <p><b>Status: Angemeldet als "{{loginName}}"</b></p>
    <p style="margin-bottom: 0;">
      <b *ngIf="loginAuthority.length > 1">Berechtigungen:</b>
      <b *ngIf="loginAuthority.length === 1">Berechtigung:</b>
    </p>
    <ul style="margin: 0;">
      <li *ngFor="let loginAuth of loginAuthority">{{loginAuth}}</li>
    </ul>
  </div>
  <p *ngIf="!loginName"><b>Status: Derzeit nicht angemeldet.</b></p>
  <p style="margin-bottom: 0;"><b>Angaben zu dieser Web-Anwendung:</b></p>
  <ul style="margin: 0;">
    <li *ngIf="!isProductionMode">Build-Modus: Dev</li>
    <li>Version {{appVersion}}</li>
    <li>API: Version {{mds.apiVersion}}, {{apiVersionExpected}} erforderlich</li>
    <li>Broadcasting-Service: {{mds.broadcastingServiceInfo.status}}
      <span *ngIf="mds.broadcastingServiceInfo.version">
        - Version {{mds.broadcastingServiceInfo.version}},
        {{mds.broadcastingServiceInfo.versionExpected}} erforderlich
      </span>
    </li>
    <li>Verona Player Interface: Version {{veronaApiVersionSupported}}</li>
    <li>Copyright: {{appPublisher}}</li>
  </ul>
</div>
