:root {
  --tc-header-height: 65px;
  --tc-unit-title-height: 40px;
  --tc-unit-page-nav-height: 45px;
}

/* orienta-regular - latin */
@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  src: local('Orienta'), local('Orienta-Regular'),
       url('assets/orienta-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/orienta-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.page-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
}

.root-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 20px;
  bottom: 0;
  background: linear-gradient(to bottom, #003333, #045659, #0d7b84, #1aa2b2, #2acae5);
}

.sheetofpaper {
  display: block;
  position: absolute;
  box-shadow: 5px 10px 20px black;
  background-color: white;
  min-height: auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 15px;
  padding: 5px;
}

.spinner {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}

.spinner-container-local { /* TODO remove */
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;
}

iframe.unitHost {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
}

p.unitMessage { /* TODO why here? */
  margin: 50px;
  text-align: center;
}

.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}

div.logo img {
  width: 100px;
}

.page-header {
  position: absolute;
  left: 140px;
  width: calc(100% - 140px);
  top: 0;
  padding: 0 10px 0 0;
}

.page-header mat-toolbar {
  position: fixed;
  z-index: 100;
  top: 4px;
  right: 90px;
}

.page-header mat-icon {
  position: relative;
  top: -8px;
  font-size: 36px;
  padding: 2px;
}

.page-header p {
  font-size: 1.5em;
  color: white;
}

.error-msg {
  position: absolute;
  left: 40px;
  top: 60px;
  min-height: 60px;
  width: calc(100% - 80px);
  font-size: 1.1em;
  border-width: 6px;
  border-style: solid;
  border-color: brown;
  background-color: white;
  color: brown;
  z-index: 999;
}

.error-msg mat-icon {
  height: 32px;
}
