<div fxLayout="row wrap" fxLayoutAlign="center stretch">
  <mat-card fxFlex="0 0 400px" fxLayout="column">
    <mat-card-title>Bitte wählen</mat-card-title>
    <mat-card-content>
      <div fxLayoutGap="10px" fxLayout="column">
        <alert
            *ngIf="!booklets.length"
            level="info"
            customtext="login_noBookletsAvailable"
            text="Für diese Anmeldung wurde kein Test gefunden."
        ></alert>
        <button mat-raised-button color="primary" (click)="startTest(b)"
                [disabled]="b.locked" *ngFor="let b of booklets">
          <div class="booklet_title">{{b.label}}</div>
          <div class="booklet_status">{{b.locked ? 'gesperrt' : (b.running ? 'Fortsetzen' : 'Starten')}}</div>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="foreground" (click)="resetLogin()">Neu anmelden</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="0 0 400px" class="mat-card-box">
    <mat-card-title>{{mds.appTitle$ | async}}</mat-card-title>

    <mat-card-content>
      <p *ngIf="bookletCount === 0">{{ 'login_bookletSelectPromptNull' | customtext: 'login_bookletSelectPromptNull' | async}}</p>
      <p *ngIf="bookletCount === 1">{{ 'login_bookletSelectPromptOne' | customtext: 'login_bookletSelectPromptOne' | async}}</p>
      <p *ngIf="bookletCount > 1">{{ 'login_bookletSelectPromptMany' | customtext: 'login_bookletSelectPromptMany' | async}}</p>

      <status-card></status-card>

    </mat-card-content>
  </mat-card>
</div>
