div.booklet_title {
  font-size: 16pt;
  margin-top: 4px;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 130%;
}

div.booklet_status {
  font-size: 8pt;
  margin-top: 0;
  color: mediumturquoise;
  height: 24px;
  margin-bottom: 18px;
}
