<div fxLayout="row wrap" fxLayoutAlign="center stretch">
  <mat-card fxFlex="0 0 400px">
    <mat-card-title>Anmelden</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="mds.appConfig?.isValidApiVersion">
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Anmeldename" (keyup.enter)="pw.focus()">
        </mat-form-field>
        <mat-form-field>
          <input matInput #pw [type]="showPassword ? 'text' : 'password'" formControlName="pw" placeholder="Kennwort">
          <mat-icon
              id="toggle-show-password"
              (click)="showPassword = !showPassword"
              [style]="!showPassword ? 'color:silver' : ''"
              matSuffix
            >visibility
          </mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="primary">Weiter</button>
      </mat-card-actions>
    </form>
    <p style="color: chocolate"><b>{{ problemText }}</b></p>
    <p style="color: chocolate" *ngIf="!mds.appConfig?.isValidApiVersion"><b>Die Verbindung mit dem Server ist nicht möglich.</b></p>
    <alert *ngIf="mds.globalWarning" level="warning" [text]="mds.globalWarning"></alert>
  </mat-card>

  <mat-card fxFlex="0 0 400px" class="mat-card-gray">
    <mat-card-title>{{mds.appTitle$ | async}}</mat-card-title>
    <mat-card-subtitle>{{mds.appSubTitle$ | async}}</mat-card-subtitle>
    <mat-card-content>
      <div [innerHTML]="mds.appConfig?.trusted_intro_html"></div>
      <status-card></status-card>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="this.mds.sysCheckAvailable" [routerLink]="['/r/check-starter']" mat-raised-button color="primary">System-Check</button>
      <button [routerLink]="['/priv']" mat-raised-button color="primary">Impressum/Datenschutz</button>
    </mat-card-actions>
  </mat-card>
</div>
