<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<mat-card fxFlex="0 0 400px" fxLayout="column">
  <!-- - - - - - - - - - - - - - - - - -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card-title>Anmelden</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Anmeldename" (keyup.enter)="pw.focus()">
      </mat-form-field>
      <mat-form-field>
        <input matInput #pw type="password" formControlName="pw" placeholder="Kennwort" (keyup.enter)="login()">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="primary">Weiter</button>
    </mat-card-actions>
  </form>
</mat-card>


<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<mat-card fxFlex="0 2 400px" fxLayout="column" class="status-card" *ngIf="! returnTo">
  <mat-card-title>{{ 'app_title' | customtext:'app_title':cts.updateCount }}</mat-card-title>

  <!-- - - - - - - - - - - - - - - - - -->
  <mat-card-content>
    <p>Das <a href="http://www.iqb.hu-berlin.de" target="_blank">Institut zur Qualitätsentwicklung im Bildungswesen</a>
      {{ 'app_intro1' | customtext:'app_intro1':cts.updateCount }}</p>

    <p>Die mit diesem System erhobenen Daten enthalten grundsätzlich keinen direkten
      Personenbezug. Es werden z. B. nie Namen gespeichert. Um Auskünfte zu einer bestimmten Befragung bzw. Studie
      zu erhalten, wenden Sie sich bitte an das <a href="mailto:mechtel@iqb.hu-berlin.de">
        IQB</a>. Wir benötigen dazu den ungefähren Zeitraum und das Bundesland, in dem die Befragung bzw. Studie
      durchgeführt wurde.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="foreground" [routerLink]="['../about']">Impressum/Datenschutz</button>
    <button mat-raised-button color="foreground" [routerLink]="['../check-starter']">System-Check</button>
  </mat-card-actions>
</mat-card>
