<div
  *ngIf="tcs.bookletConfig.unit_title === 'ON'"
  [style]="{'visibility': currentUnit?.unitDef?.locked || (unitsLoading$ | async).length || codeRequiringTestlets.length ? 'hidden' : 'visible'}"
  id="unit-title"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <p>{{ unitScreenHeader }}</p>
</div>

<div
  id="iframe-host"
  [style]="{'visibility': currentUnit?.unitDef?.locked || (unitsLoading$ | async).length || codeRequiringTestlets.length ? 'hidden' : 'visible'}"
>
</div>

<ng-container *ngIf="{ list: (unitsLoading$ | async) } as loadingUnits">
  <div id="waiting-room" *ngIf="loadingUnits.list.length || currentUnit?.unitDef?.locked || codeRequiringTestlets.length">
    <mat-card>
      <mat-card-title>{{unitScreenHeader}}</mat-card-title>
      <mat-card-subtitle *ngIf="loadingUnits.list.length > 1">
        {{'Aufgabenblock wird geladen' | customtext:'booklet_loadingBlock' | async}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="loadingUnits.list.length === 1">
        {{'Aufgabe wird geladen' | customtext:'booklet_loadingUnit' | async}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="currentUnit?.unitDef?.locked">
        {{'Aufgabenzeit ist Abgelaufen' | customtext:'booklet_lockedBlock' | async}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="currentUnit.codeRequiringTestlets.length">
        {{'Aufgabenblock erfordert ein Freigabewort' | customtext:'booklet_codeToEnterTitle' | async}}
      </mat-card-subtitle>

      <mat-card-content *ngIf="codeRequiringTestlets.length">
        <ng-container *ngFor="let testlet of codeRequiringTestlets">
          <mat-form-field style="display: block">
            <mat-label>{{testlet.title || ('Block ' + (testlet.sequenceId + 1))}}</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="clearCodes[testlet.id]"
              style="text-transform:uppercase"
              (keydown)="onKeydownInClearCodeInput($event)"
            >
            <mat-hint align="start" *ngIf="testlet.codePrompt">{{testlet.codePrompt}}</mat-hint>
            <mat-hint *ngIf="!testlet.codePrompt">
              {{'Bitte Freigabewort eingeben!' | customtext:'booklet_codeToEnterPrompt' | async}}
            </mat-hint>
          </mat-form-field>
        </ng-container>
      </mat-card-content>
      <mat-card-content>
        <ng-container *ngFor="let loading of loadingUnits.list; let index = index">
          <mat-progress-bar
            color="primary"
            [mode]="({'UNKNOWN': 'indeterminate', 'PENDING': 'query'})[loading.progress] || 'determinate'"
            [value]="loading.progress"
          >
          </mat-progress-bar>
          <p class="progress-bar-sub-text">
            {{unitsToLoadLabels[index]}}
            <ng-container [ngSwitch]="loading.progress">
              <span *ngSwitchCase="'UNKNOWN'">
                ({{'wird geladen' | customtext:'booklet_unitLoadingUnknownProgress' | async}})
              </span>
              <span *ngSwitchCase="'PENDING'">
                ({{'in der Warteschleife' | customtext:'booklet_unitLoadingPending' | async}})
              </span>
              <span *ngSwitchDefault>
                ({{loading.progress}}% {{'geladen' | customtext:'booklet_unitLoading' | async}})
              </span>
            </ng-container>
          </p>
        </ng-container>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="codeRequiringTestlets.length"
          mat-raised-button
          color="primary"
          [disabled]="(clearCodes | keyvalue)?.length < codeRequiringTestlets.length"
          (click)="verifyCodes()"
        >
          OK
        </button>
        <button
          *ngIf="tcs.bookletConfig.unit_navibuttons === 'OFF'"
          mat-raised-button
          [disabled]="tcs.currentUnitSequenceId === 0"
          (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)" matTooltip="Zurück" fxFlex="none"
        >
          <i class="material-icons">chevron_left</i>
        </button>
        <button
          *ngIf="tcs.bookletConfig.unit_navibuttons === 'OFF'"
          mat-raised-button
          [disabled]="tcs.currentUnitSequenceId >= tcs.allUnitIds.length"
          (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT)" matTooltip="Weiter" fxFlex="none"
        >
          <i class="material-icons">chevron_right</i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

<div id="page-navigation" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="tcs.bookletConfig.page_navibuttons === 'SEPARATE_BOTTOM'">
  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="knownPages && knownPages.length">
    <div id="page-navigation-prompt">
      {{ ''  | customtext:'login_pagesNaviPrompt' | async}}
    </div>

    <mat-button-toggle-group>
      <mat-button-toggle
        [disabled]="currentPageIndex <= 0"
        (click)="gotoPage(knownPages[currentPageIndex - 1].id);"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <i class="material-icons">chevron_left</i>
      </mat-button-toggle>

      <mat-button-toggle
        *ngFor="let page of knownPages; let index = index"
        fxLayout="column"
        (click)="gotoPage(page.id)"
        [matTooltip]="page.label"
        [checked]="currentPageIndex === index"
      >
        {{ index + 1 }}
      </mat-button-toggle>

      <mat-button-toggle
        [disabled]="currentPageIndex >= knownPages.length - 1"
        (click)="gotoPage(knownPages[currentPageIndex + 1].id);"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <i class="material-icons">chevron_right</i>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
