#iFrameHost {
  position: absolute;
  width: 100%;
  top: var(--tc-unit-title-height);
  bottom: var(--tc-unit-page-nav-height);
  padding: 0;
  background-color: white;
}

.unitHost {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
  background-color: white;
}

#unit-title {
  position: absolute;
  width: 100%;
  /* top: set by .tc-body */
  height: 39px;
  padding: 0;
  font-size: 1.5em;
  background-color: white;
  border-bottom: solid 1px black;
}

#pageNav {
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0;
  padding: 0 30px;
  font-size: 1.2em;
}

#pageNavPrompt {
  padding: 2px 8px;
  color: white;
}

#pageNav button {
  font-size: 1.1em;
}

#pageNav button i {
  font-size: 1.2em;
}

.pageNavDisabled {
  height: 5px;
  background-color: orangered;
}

.pageNavEnabled {
  height: 5px;
  background-color: darkgrey;
}

.statusVisual {
  margin: 0 10px;
}

.statusVisual div {
  padding: 2px 10px;
  margin: 0 5px;
}
