.unit-body {
  position: absolute;
  width: 100%;
  top: 40px;
  bottom: 45px;
  padding: 0px;
  background-color: white;
}

#unit-title {
  width: 100%;
  padding: 0px;
  height: 40px;
  font-size: 1.5em;
  background-color: white;
  border-bottom: solid 2px black;
}

#pageNav {
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0px;
  /* background-color: silver; */
  padding: 0px 30px;
  font-size: 1.2em;
}

#pageNavPrompt {
  padding: 2px 8px;
  color: white;
}

#pageNav button {
  font-size: 1.1em;
}

#pageNav button i {
  font-size: 1.2em;
}

.pageNavDisabled {
  height: 5px;
  background-color: orangered;
}

.pageNavEnabled {
  height: 5px;
  background-color: darkgrey;
}

.statusVisual {
  margin: 0 10px;
}

.statusVisual div {
  padding: 2px 10px;
  margin: 0 5px;
}
